body{
    text-align: center;
    background-color: #011F3F;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  color: #FEF2BF;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 500px;
    height: 500px;
}

.pads{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

#main-title{
    font-size: 5rem;
    margin:  5%;
}


#green{
    background-color: green;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}